<!DOCTYPE html>
<html>
<head>
  <title>Wunderlist</title>
  <link rel="stylesheet" type="text/css" href="/app/styles/css/intro.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrapper">
  <div class="mainInfo">
    <h1>Keep your life in sync</h1>
    <p class="text">Wunderlist is the easiest way to get stuff done. Whether you’re planning a holiday, sharing a
      shopping list with a partner or managing multiple work projects, Wunderlist is here to help you tick off all
      your personal and professional to-dos.</p>
    <a href="/login" class="login">Log In / Sign Up</a>
  </div>
</div>
</body>
</html>